<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="600">
    <title>Bude Seapool Temperature</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }

        img {
            width: 100%;
            min-height: 100vh;
            display: flex;
            position: absolute;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
<img src="/temperature.png" alt="Current Seapool Temperature" width="{{.width}}" height="{{.height}}">
</body>
</html>