<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="600">
    <title>Bude Seapool Temperature</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }

        body {
            display: flex;
            flex-wrap: nowrap;
            flex-flow: column;
            height: 100vh;
            justify-content: center;
            align-items: center;
        }

        img {
            max-width: 100%;
            max-height: 100%;
            flex: 1 1 auto;
            flex-grow: 1;
            object-fit: contain;
        }
    </style>
</head>
<body>
<img src="/temperature.png" alt="Current Seapool Temperature" width="{{.width}}" height="{{.height}}">
</body>
</html>